{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": ["airbnb/base"],
  "rules": {
    "semi": "error",
    "no-console": "error",
    "linebreak-style": "error",
    "object-curly-spacing": "error",
    "indent": "error",
    "quotes": "error",
    "comma-dangle": "error",
    "object-curly-newline": "error",
    "eol-last": "error"
  }
}